// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Define the color scheme for your website

// Définition des couleurs
$primary-color: #CF5847;
$secondary-color: #F5F3ED;
$tertiary-color: #274028;
$bonus-color: #F3C59D;
