// Homepage Styles
// Appliquer l'image de fond à la page entière

.div_home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage {
  background-image: url('background_homepage.jpg');
  background-size: cover; /* L'image couvre toute la surface sans déformation */
  background-position: center center; /* Centre l'image */
  background-attachment: fixed; /* L'image reste fixe pendant le défilement */
  background-repeat: no-repeat; /* Ne répète pas l'image */
  // height: 100vh; /* Utilise 100% de la hauteur de la fenêtre */
  display: flex;
  // margin-top: 100px;
  flex-direction: column;
  justify-content: center; /* Centre le contenu verticalement */
}

.title_home {
  font-size: 100px;
  font-weight: $avenir-bold;
  color: $secondary-color; /* Couleur du texte */
  -webkit-text-stroke: 1px $primary-color; /* Contour de 2px en couleur $primary-color */
  text-shadow: 0px 6px 0px $primary-color;
}

.second_title_home {
  font-family: $avenir-heavy;
  font-size: 30px;
  color: $tertiary-color; /* Couleur du texte */
}

.corps_home {
  font-family: $avenir-ultra-light;
  font-weight: 400;
  font-size: 20px;
  color: $primary-color; /* Couleur du texte */
}

.btn-home {
  display: flex;
  align-items: center; /* Alignement des éléments sur la même ligne */
  justify-content: center; /* Centrer les boutons au centre de la navbar */
  // flex-grow: 1; /* Prend tout l'espace restant pour centrer les boutons */
}
