// Masque les cases à cocher
.user_preferences {
  input[type="checkbox"] {
    display: none; 
  }
  
  .tag-item:has(> input[type=checkbox]:checked) {
    background-color: $primary-color;
    color: white;
  }
  
  .h2 {
    color: $secondary-color;
    font-weight: normal;
  }

  
  fieldset {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes égales */
    gap: 15px; /* Espacement entre les éléments */
  }
  
  fieldset .form-check-input {
    text-align: center; /* Centrer le contenu des boutons */
  }
  
  
}

