// Styles pour la page Sign Up
.sign-up-page {
  background-image: url('background_homepage.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.sign-up-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.sign-up-form-container {
  width: 100%;
  max-width: 500px;
  background-color: $secondary-color;
  padding: 40px;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.sign-up-form-container-bis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 500px;
  background-color: $primary-color;
  padding: 20px;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sign-up-title {
  font-size: 48px;
  font-weight: 900;
  color: var(--primary-color);
  -webkit-text-stroke: 2px $secondary-color;
  text-shadow: 0px 4px 0px $secondary-color;
  text-align: center;
}

.sign-up-form-row {
  display: flex;
  flex-direction: row;  // Change to row layout for the first group of inputs
  gap: 20px;  // Adjust gap between inputs
  margin-bottom: 10px;
}

.sign-up-input-group {
  width: 100%;  // Set each input group to take up 30% of the container width
}

.sign-up-form-control {
  color: var(--primary-color);
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--secondary-color);
  border: 2px solid #F3C59D;
  box-shadow: 4px 4px 0px #F3C59D;
  margin-bottom: 20px !important;
  padding: 10px;
}

.label-style {
  color: var(--primary-color);
  font-weight: 700;
}

.btn-sign-up {
  background-color: $secondary-color;  /* Swapped */
  color: $primary-color;  /* Swapped */
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid $primary-color;  /* Swapped */
  box-shadow: 4px 4px 0px $primary-color;  /* Swapped */
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);  /* Swapped */
  }
}

.btn-sign-up:hover {
  background-color: var(--secondary-color);  /* Swapped */
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  box-shadow: 4px 4px 0px var(--tertiary-color);
}
