<div class="homepage">
  <div class="text-center div_home mt-2">
    <h1 class="title_home">With SLOOP</h1>
    <h2 class="second_title_home">Your Perfect Loop, Anytime, Anywhere!</h2>
    <h3 class="mt-4 ms-5 me-5 corps_home">
      The Game Changer Sloop is here to disrupt the status quo!<br>
      Our platform provides loop itineraries that not only connect cities,<br>
      but also create an engaging journey.
    </h3>

    <div class="btn-home text-center mt-5">
      <%= link_to "NEW SLOOP", "#form_new_sloop", class: "btn scroll", data: { turbo: false } %>
    </div>
  </div>


  <div class="div_home" id="form_new_sloop">

    <div class="form-row">

      <%# <%= render "sloopies/form", sloopy: @sloopy %>
      <%= render "sloopies/search_form", sloopy: @sloopy %>
     </div>
  </div>
</div>
