<%= turbo_stream_from "maps" %>
<div id="map-container"
  data-controller="map"
  data-map-markers-value="<%= markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  style="width: 100%; height: 600px;">
</div>

<% if Rails.env.development? %>
  <script>
    console.log("Map markers:", <%= raw markers.to_json %>)
  </script>
<% end %>
