Sloopy
<div class="div_home">

  <div class="sloopy-card">
  <% @sloopy.steps.each do |step| %>
    <%= step.city %>
    <%= step.transport %>
    <% step.activities.each do |activity| %>
      <%= activity.name %>
    <% end %>
  <% end %>
</div>
