<h2 class="login-form-container-ter h2" style="max-width: unset;"><%= category_title(category.to_sym) %></h2>
<div class="sloopie-form-container">
  <%= f.input category.to_sym,
            collection: Preference::PREFERENCES[category.to_sym],
            legend_tag: false,
            as: :check_boxes,
            input_html: {
              data: { action: "change->preferences-form#check" },
              class: "form-check-input"
            },
            wrapper_html: {
              data: { controller: "preferences-form", next_button_target: "wrapper" },
              class: "mb-0"
            },
            item_label_class: "tag-item btn-orange" %>
        
</div>
<div class="sloopie-form-container-bis" data-controller="preferences-form">
  
  <div class="d-flex justify-content-between align-items-center">
     
    <% if category_title(category.to_sym) == "What is your main travel goal?" %>
      <!--Submit -->
      <button type= "button" class= "btn-back"data-action="click->next-button#back">Back</button>
      <button type="submit" class="btn-next" data-action="click->preferences-form#check click->next-button#submit">Submit</button>
      
    <% else %>
      <!--Next -->
      <button type= "button" class= "btn-back"data-action="click->next-button#back">Back</button>
      <button type="button" class="btn-next" data-action="click->next-button#next">Next</button>
      
    <% end %>
  </div>
</div>
