<div class="sloopie-page" data-controller="next-button" style="margin-top: 200px">
  <% steps = [
      "favorite_activities",
      "ideal_travel_pace",
      "exciting_experiences",
      "traveling_with",
      "preferred_vibe",
      "main_travel_goal" ] %>

  <%= simple_form_for :user_preferences, url: preferences_path, data: { next_button_target: "form" }, method: :post do |f| %>
    <% steps.each do |step| %>
      <div class="d-flex justify-content-center align-items-center min-vh-70" >  
        <div class="form-container-home d-none">
          <%= render "sloopies/steps/experiences", category: step, f: f %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>