.avatar {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 2px 2px 2px var(--primary-color);
}

.avatar-profile {
  position: absolute;
  top: -14px;
  left: 30px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px var(--primary-color);
}
