/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables de couleur */
:root {
  --primary-color: #CF5847; /* Couleur principale */
  --secondary-color: #F5F3ED; /* Couleur secondaire */
  --tertiary-color: #274028; /* Couleur tertiaire (pour les ombres et texte) */
}

/* Navbar */
.navbar {
  background-color: var(--secondary-color); /* Fond de la navbar */
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère en bas de la navbar */
  position: fixed; /* Fixe la navbar en haut de la page */
  top: 0; /* Positionne-la en haut de la page */
  left: 0; /* Assure que la navbar commence à gauche */
  right: 0; /* Assure que la navbar s'étend sur toute la largeur */
  z-index: 9999; /* Met la navbar au-dessus des autres éléments */
  width: 100%; /* S'assure que la navbar prend toute la largeur de la page */
  margin-top: 0; /* Enlève l'espace en haut */
  height: 6rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar-brand img {
  width: 150px;  /* Ajuste la taille de l'image selon tes besoins */
  height: auto;  /* Conserve les proportions de l'image */
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
  max-height: 70px;
  object-fit: contain;
}

/* Liens (les 4 boutons au centre) */
.navbar-menu {
  display: flex;
  align-items: center; /* Alignement des éléments sur la même ligne */
  justify-content: center; /* Centrer les boutons au centre de la navbar */
  flex-grow: 1; /* Prend tout l'espace restant pour centrer les boutons */
  height: 100%;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

/* Définition du bouton navbar */
.btn-navbar {
  padding: 5px 15px;
  font-size: 12px;
  font-weight: bold; /* Utilisation de 'bold' si vous n'utilisez pas Sass */
  border-radius: 5px;
  background-color: var(--secondary-color); /* Couleur de fond */
  color: var(--primary-color); /* Couleur du texte */
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--primary-color); /* Bordure avec la couleur principale */
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0px var(--primary-color); /* Ombre avec la couleur principale */
}

/* Effet au survol du bouton */
.btn-navbar:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  box-shadow: 4px 4px 0px var(--tertiary-color);
  -webkit-text-stroke: 1px var(--tertiary-color); /* Utilisation de la variable CSS */
}

/* Effet au clic (active) */
.btn-navbar:active {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

.btn-orange {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: $avenir-heavy;
  border-radius: 5px;
  background-color: var(--secondary-color); /* Couleur de fond */
  color: var(--primary-color); /* Couleur du texte */
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--primary-color); /* Bordure avec la couleur principale */
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0px var(--primary-color);
  label {
  white-space: nowrap;
  } /* Ombre avec la couleur principale */
}

/* Rectangle au bas du bouton */
.btn-orange::after {
  content: "";
  position: absolute;
  bottom: -8px; /* Décalage de 8px en bas */
  right: -8px; /* Décalage de 8px à droite */
  width: 100%; /* Largeur du rectangle de la même taille que le bouton */
  height: 15px; /* Hauteur du rectangle */
  background-color: var(--primary-color); /* Couleur de fond du rectangle */
  z-index: -1; /* Place le rectangle sous le bouton */
}

/* Effet au survol */
.btn-orange:hover {
  color: var(--tertiary-color); /* Texte en couleur tertiary */
  box-shadow: 4px 4px 0px var(--tertiary-color); /* Ombre en tertiary color */
  border-color: var(--tertiary-color); /* Bordure passe en tertiary color au survol */
}

/* Effet au clic (active) */
.btn-orange:active {
  color: var(--tertiary-color); /* Texte en couleur tertiary */
  box-shadow: 4px 4px 0px var(--tertiary-color); /* Ombre en tertiary color */
  border-color: var(--tertiary-color); /* Bordure passe en tertiary color au clic */
}

/* Dropdown Utilisateur (le bouton avec le dropdown à droite) */
.user-dropdown {
  position: relative; /* Nécessaire pour positionner le menu par rapport au bouton */
  margin-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;

  .dropdown-toggle {
    padding: 10px 40px 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 0px var(--primary-color);
    font-weight: 700;

    &:hover,
    &.active {
      background-color: var(--secondary-color);
      color: var(--tertiary-color);
      border-color: var(--tertiary-color);
      box-shadow: 4px 4px 0px var(--tertiary-color);
      -webkit-text-stroke: 1px $tertiary-color;
    }
  }

  .dropdown-menu {
    display: none; /* Initialement caché */
    position: absolute;
    top: calc(100% + 10px); /* 20px d'espacement sous le bouton */
    left: 0;
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--tertiary-color);
    box-shadow: 4px 4px 0px var(--tertiary-color);
    -webkit-text-stroke: 1px $tertiary-color;
    z-index: 10;
    min-width: 100%; /* Empêche un menu plus étroit que le bouton */
    width: 100%;


    .dropdown-item {
      padding: 10px 20px;
      text-decoration: none;
      color: var(--tertiary-color);

      &:hover {
        background-color: var(--primary-color);
        color: var(--tertiary-color);
      }
    }
  }
}


/* Styles pour les petits écrans */
@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .navbar-menu.active {
    display: flex; /* Affiche les liens au clic sur le hamburger */
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
  }

  .navbar-user {
    width: 100%;
    justify-content: flex-start;
  }
}

/* Réutilisation des mêmes styles de boutons pour Log In et Sign Up */
.auth-links .btn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--secondary-color); /* Fond du bouton */
  color: var(--tertiary-color); /* Couleur du texte */
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--tertiary-color); /* Bordure avec la couleur principale */
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0px var(--tertiary-color); /* Ombre avec la couleur principale */
}

/* Rectangle au bas du bouton */
.auth-links .btn::after {
  content: "";
  position: absolute;
  bottom: -8px; /* Décalage de 8px en bas */
  right: -8px; /* Décalage de 8px à droite */
  width: 100%; /* Largeur du rectangle de la même taille que le bouton */
  height: 15px; /* Hauteur du rectangle */
  background-color: var(--tertiary-color); /* Couleur de fond du rectangle */
  z-index: -1; /* Place le rectangle sous le bouton */
}



/* Positionnement des boutons Log In et Sign Up à gauche */
.auth-links {
  display: flex;
  gap: 10px;
}

/* Effet au survol */
.auth-links .btn:hover {
  color: var(--primary-color); /* Texte en couleur tertiary */
  box-shadow: 4px 4px 0px var(--primary-color); /* Ombre en tertiary color */
  border-color: var(--primary-color); /* Bordure passe en tertiary color au survol */
}

/* Effet au clic (active) */
.auth-links .btn:active {
  color: var(--primary-color); /* Texte en couleur tertiary */
  box-shadow: 4px 4px 0px var(--primary-color); /* Ombre en tertiary color */
  border-color: var(--primary-color); /* Bordure passe en tertiary color au clic */
}
